.menuOption {
    text-align: center;
}


.menuOptionTitle {
    height: 50px;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.icon {
    height: 100px;
    margin-top: 20px;
}

.iconLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.description {
    margin-top: 20px;
    margin-bottom: -30px;
}
