.mappingsSummary {
    flex: 4;
}

.mappingSummaryTitle {
    font-size: 30px;
    font-weight: 600;
    align-content: center;
    text-align: center;
}

/* .mappingSummaryTable {
    margin-top: 20px;
    display: inline;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 300px,
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}