.ontologiesPage {
    flex: 4;
}

.ontologiesPageTitle {
    font-size: 30px;
    font-weight: 600;
    align-content: center;
    text-align: center;
}

.ontologiesPageContent {
    margin-right: 20px;
    line-height: 25px;
}

.reloadingProcess {
    margin-top: 10px;
}

.dataLabel {
    font-size: 20px;
    font-weight: 600;
}

.dataValue {
    font-size: 20px;
}
.reloadButton {
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;

}

.loader {
    margin-bottom: 50px;
}
